#!/bin/bash
SERVERNAME=YOUR_SERVERNAME
SAVENAME=SAVEDATA.sve
SAVEDIR=PATH_TO/save
CONFDIR=PATH_TO/config
PORT=13353
DEBUG_LEVEL=1
CNT_PORT=13353
CNT_IMAGE=BUILDED_CONTAINER_IMAGE_NAME:TAG

docker run -it \
	-e SIMUTRANS_SERVERNAME=$SERVERNAME \
	-e SIMUTRANS_SAVEGAME=$SAVENAME \
	-e SIMUTRANS_DEBUG_LEVEL=$DEBUG_LEVEL \
	-v $SAVEDIR:/opt/simutrans/save \
	-v $CONFDIR:/opt/simutrans/config \
	-d \
	-p $PORT:$CNT_PORT \
	$CNT_IMAGE
